<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>青橙，欢迎您</title>
    <link rel="icon" href="/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/pages-login.css"/>
    <script src="/js/findpw.js"></script>
    <script src="/js/plugins/jquery/jquery.min.js"></script>
</head>

<body>
<!-- 头部栏位 -->
<!--页面顶部-->
<div id="nav-bottom">
    <!--顶部-->
    <div class="nav-top">
        <div class="top">
            <div class="py-container">
                <div class="shortcut">
                    <ul class="fl">
                        <li class="f-item">青橙欢迎您！</li>
                        <li class="f-item">请<a href="http://localhost:9001/oauth/tologin" target="_blank">登录</a>　
                            <span><a href="http://localhost:18060/userSafe/register" target="_blank">免费注册</a></span>
                        </li>
                    </ul>
                    <div class="fr typelist">
                        <ul class="types">
                            <li class="f-item"><span>我的订单</span></li>

                            <li class="f-item"><span><a href="cart.html" target="_blank">我的购物车</a></span></li>
                            <li class="f-item"><span><a href="home.html" target="_blank">我的青橙</a></span></li>
                            <li class="f-item"><span>青橙会员</span></li>
                            <li class="f-item"><span>企业采购</span></li>
                            <li class="f-item"><span>关注青橙</span></li>
                            <li class="f-item"><span><a href="cooperation.html" target="_blank">合作招商</a></span></li>
                            <li class="f-item"><span><a href="shoplogin.html" target="_blank">商家后台</a></span></li>
                            <li class="f-item"><span>网站导航</span></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <!--头部-->
        <div class="header">
            <div class="py-container">
                <div class="yui3-g Logo">
                    <div class="yui3-u Left logoArea">
                        <a class="logo-bd" title="青橙" href="index.html" target="_blank"></a>
                    </div>
                    <div class="yui3-u Rit searchArea">
                        <div class="search">
                            <form action="" class="sui-form form-inline">
                                <!--searchAutoComplete-->
                                <div class="input-append">
                                    <input type="text" id="autocomplete" class="input-error input-xxlarge"/>
                                    <button class="sui-btn btn-xlarge btn-danger" type="button">搜索</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="login-box">

    <!--loginArea-->
    <div class="loginArea">
        <div class="py-container login">
            <div class="loginform">
                <h3>密码找回</h3>
                <div class="tab-content tab-wraped">

                    <div id="profile" class="tab-pane active">
                        <form id="loginForm" method="post" class="sui-form">
                            <div class="input-prepend"><span class="add-on loginname"></span>
                                <input id="inputName" v-model="phone" type="text" placeholder="请输入手机号"
                                       class="span2 input-xfat">
                            </div>
                            <div class="input-prepend"><span class="add-on loginpwd"></span>
                                <input v-model="code" id="code" type="text" placeholder="请输入验证码"
                                       class="span2 input-xfat" style="width: auto">&nbsp;&nbsp;&nbsp;
<!--                                <input type="button" @click="getCode()" id="getCode" style="width: 130px;height: 31px" value="点击获取验证码">-->
                                <input type="button" @click="getCode()" id="getCode" class="sui-btn btn-xlarge btn-danger" value="点击获取验证码">
                            </div>
                            <div class="input-prepend"><span class="add-on loginpwd"></span>
                                <input v-model="pw" id="pw" type="password" placeholder="请输入新密码（6-12位数字和字母组合）"
                                       class="span2 input-xfat">
                            </div>
                            <div class="input-prepend"><span class="add-on loginpwd"></span>
                                <input v-model="cpw" id="cpw" type="password" placeholder="请再次输入密码"
                                       class="span2 input-xfat">
                            </div>

                            <div style="text-align: center;color: red;">{{msg}}</div>
                            <div class="logined">
                                <!--onclick="document:loginForm.submit()"-->
                                <a class="sui-btn btn-block btn-xlarge btn-danger" href="javascript:void(0)"
                                   @click="restPw()">确认修改密码</a>
                            </div>
                        </form>
                        <div class="otherlogin">
                            <div class="types">
                                <ul>
                                    <li><img src="/img/qq.png" width="35px" height="35px"/></li>
                                    <li><img src="/img/sina.png"/></li>
                                    <li><img src="/img/ali.png"/></li>
                                    <li><img src="/img/weixin.png"/></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--foot-->
    <div class="py-container copyright">
        <ul>
            <li>关于我们</li>
            <li>联系我们</li>
            <li>联系客服</li>
            <li>商家入驻</li>
            <li>营销中心</li>
            <li>手机品优购</li>
            <li>销售联盟</li>
            <li>品优购社区</li>
        </ul>
        <div class="address">地址：北京市昌平区建材城西路金燕龙办公楼一层 邮编：100096 电话：400-618-4000 传真：010-82935100</div>
        <div class="beian">京ICP备08001421号京公网安备110108007702
        </div>
    </div>
</div>

<script type="text/javascript">
    function switchSuiForm() {
        document.getElementById('index').className = "tab-pane";
        document.getElementById('profile').className = "tab-pane active";
        document.getElementById('tabSuiForm').className = "active";
        document.getElementById('tabOtherLogin').className = "";
    }

    function switchOtherLogin() {
        document.getElementById('index').className = "tab-pane active";
        document.getElementById('profile').className = "tab-pane";
        document.getElementById('tabSuiForm').className = "";
        document.getElementById('tabOtherLogin').className = "active";
    }
</script>

<script src="/js/vue.js"></script>
<script src="/js/axios.js"></script>
<script th:inline="javascript">
    var app;
    app = new Vue({
        el: "#profile",
        data: {
            phone: "",
            code: "",
            pw: "",
            cpw: "",
            msg: "",
            from: [[${from}]]
        },
        methods: {
            restPw: function () {
                var param = {
                    "phone": app.phone,
                    "pw": app.pw,
                    "cpw": app.cpw,
                    "code": app.code
                };
                if (app.pw !== app.cpw){
                    alert("两次输入的密码不一致，请重新输入！");
                    return false;
                }
                //发起异步请求修改密码
                axios.post("/userSafe/restPw", param)
                    .then(function (response) {
                        if (response.data.flag) {
                            app.msg = response.data.message + "，即将跳转到登录页面！";
                            window.location.href = "http://localhost:9001/oauth/tologin";
                        } else {
                            app.msg = response.data.message;
                        }
                    });
            },
            getCode: function () {
                //校验手机号格式
                if (!checkPhone(app.phone)) {
                    alert("请输入正确的手机号码！");
                    return false;
                }
                //30s倒计时:
                validateCodeButton = $("#getCode")[0];
                clock = window.setInterval(doLoop, 1000); //一秒执行一次

                //获取验证码：
                axios.post("/userSafe/code?phone=" + app.phone)
                    .then(function (response) {
                        if (response.data.flag) {
                            app.msg = response.data.message;
                            app.code = response.data.data;
                        } else {
                            if ("该号码尚未注册，请先注册！" === response.data.message){
                                app.msg = "即将跳转到注册页面（改手机号尚未注册，请先注册）";
                                setTimeout(function () {
                                    window.location.href = "http://localhost:18060/userSafe/register";
                                },3000)
                            }
                        }
                    })
            }
        }
    });
</script>
</body>
</html>